<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <div th:replace="/fragment/links.html :: header"></div>
    <title>InstaGod</title>

</head>

<body>
<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
<div class="container-fluid">
<span>Уважаемый <span th:text="${userName}"></span>
    вы можете связаться с нами по любым вопросам. Мы обязательно ответим!</span>
<form sec:authorize="!hasAuthority('product:edit')" method="post" th:action="${#servletContext.getContextPath()}+'/app/contacts'">
    <label>Ваше имя</label>
    <input type="text" name="name"><br>
    <label>Ваш мобильный телефон</label>
    <input type="text" name="mobphone"><br>
    <label>Ваш почтовый адрес</label>
    <input type="text" name="email"><br>
    <label>Текст обращения</label>
    <textarea type="text" name="message"></textarea><br>
    <button type="submit">Отправить</button>
</form>
<div sec:authorize="hasAuthority('product:edit')" th:each="message : ${messagesList}">
    <span th:text="${message.getName()}"></span>
    <span th:text="${message.getMobphone()}"></span>
    <span th:text="${message.getEmail()}"></span>
    <span th:text="${message.getMessage()}"></span>
</div>
Contacts
</div>
</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>