<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <link rel="shortcut icon" th:href="${#servletContext.getContextPath()}+'/img/logo.png'" type="image/png"/>
    <div th:replace="/fragment/links.html :: header"></div>
    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/user/forgot.css'"/>
</head>

<body >
<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
    <div class="row">
        <div class="col">
            <span th:text="${message}"></span>
        </div>
    </div>
    <form  id="emailPass" class="regForm" th:if="${user == null}" method="post"  th:action="${#servletContext.getContextPath()}+'/app/forgot'">
    <div id="enterEmail" class="row">
        <div class="col">
            <label class="regFormLab">Введите Email:</label>
            <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <input type="text"  name="email"  placeholder="email" required>
        </div>
    </div>
    <div  class="row">
        <div class="col">
            <a  class="reloadBtn" href="#" onclick="document.getElementById('emailPass').submit();">Восстановить пароль</a>
        </div>
    </div>
    </form>
<form class="regForm" id="newPass" th:if="${user != null}"  method="post"  th:action="${#servletContext.getContextPath()}+'/app/forgot/change'">
   <div id="enterPass" class="row">
       <div class="col">
           <label class="regFormLab" >Введите новый пароль:</label>
           <span><i class="fa fa-key" aria-hidden="true"></i></span>
           <input type="hidden"  name="id"  th:value="${user.getId()}">
           <input type="text"  name="password"  placeholder="passwrod" required>
       </div>
   </div>
    <div class="row">
        <div class="col">
            <a  class="reloadBtn" href="#" onclick="document.getElementById('newPass').submit();">Сменить пароль</a>
        </div>
    </div>
</form>
</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>