<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <div th:replace="/fragment/links.html :: header"></div>
    <title>InstaGod</title>
</head>

<body >
<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
<span th:text="${message}"></span>
forgot page
<form th:if="${user == null}" method="post"  th:action="${#servletContext.getContextPath()}+'/app/forgot'">
    <p>
        <label >Введите Email</label>
        <input type="text"  name="email"  placeholder="email" required>
    </p>
    <button type="submit">Восстановить пароль</button>
</form>
<form th:if="${user != null}"  method="post"  th:action="${#servletContext.getContextPath()}+'/app/forgot/change'">
    <p>
        <label >Введите Новый пароль</label>
        <input type="hidden"  name="id"  th:value="${user.getId()}">
        <input type="text"  name="password"  placeholder="passwrod" required>
    </p>
    <button type="submit">Сменить пароль пароль</button>
</form>
</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>