<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>InstaGod</title>
</head>

<body >
MainPage
<div th:replace="/fragment/navBar.html :: navBar"></div>
<span th:text="${message}"></span>
Login page
<form  method="post" th:action="${#servletContext.getContextPath()}+'/app/login'">
    <h2 >Login</h2>
    <p>
        <label >Username</label>
        <input type="text"  name="username"  placeholder="Username" required>
    </p>
    <p>
        <label>Password</label>
        <input type="password"  name="password" placeholder="Password" required>
    </p>
    <button type="submit">Sign in</button>
</form>
</body>
</html>