<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <link rel="shortcut icon" th:href="${#servletContext.getContextPath()}+'/img/logo.png'" type="image/png"/>
    <div th:replace="/fragment/links.html :: header"></div>
    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/user/login.css'"/>

</head>

<body >

<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
    <div class="container-fluid">
        <div class="row">
            <div id="mainText" class="col">
                <span>Добро пожаловать на официальный сайт Floreal!
                    У нас всегда качественное и быстрое обслуживание!</span>
            </div>
        </div>
        <div class="row">
            <div id="errMessage" class="col">
                <span th:text="${message}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="loginForm" class="loginForm" method="post"  th:action="${#servletContext.getContextPath()}+'/app/login'">
                    <h3 >Вход в систему</h3>
                        <label >Имя пользователя:</label>
                        <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        <input type="text"  name="username"  placeholder="Username" required>
                        <label>Пароль:</label>
                    <span><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input type="password"  name="password" placeholder="Password" required>
                    <a class="forgotHref" th:href="${#servletContext.getContextPath()}+'/app/forgot'">Забыли пароль?</a>
                    <a class="sendHref" href="#" onclick="document.getElementById('loginForm').submit();">Войти</a>
                </form>

            </div>
        </div>


    </div>





</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>