<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <div th:replace="/fragment/links.html :: header"></div>
    <title>InstaGod</title>
</head>

<body >
<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
<form  method="post" enctype="application/x-www-form-urlencoded" th:action="${#servletContext.getContextPath()}+'/app/edit'" accept-charset="utf-8">
    <input type="hidden" name="id" th:value="${id}">
    <p>
        <label >title</label>
        <input type="text"  name="title"  th:value="${title}" required>
    </p>
    <p>
        <label >description</label>
        <input type="text"  name="description"  th:value="${description}"required>
    </p>
    <p>
        <label >Cost</label>
        <input type="text"  name="cost"  th:value="${cost}" required>
    </p>
    <p>
        <label >availability</label>
        <input type="text"  name="availability" th:value="${availability}" required>
    </p>
    <p>
        <label >URL</label>
        <input type="text"  name="url"  th:value="${url}" required>
    </p>
    <p>
        <label >Category</label>
        <select type="text"  name="category">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="BOX">BOX</option>
            <option value="COLOR">COLOR</option>
            <option value="COMPOSITION">COMPOSITION</option>
            <option value="GIFT">GIFT</option>
            <option value="OCCASION">OCCASION</option>
        </select>
    </p>
    <p>
        <label >Status</label>
        <select type="text"  name="status">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="AVAILABLE">AVAILABLE</option>
            <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
            <option value="ARCHIVE">ARCHIVE</option>

        </select>

    </p>
    <button type="submit">Send</button>
</form>
</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>