<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <div th:replace="/fragment/links.html :: header"></div>
    <title>InstaGod</title>
</head>

<body >
<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
<div>
    <div>
        <img th:if="${product.getFotos().isEmpty()}" src="/files/noFoto.png" width="100px" height="100px">
        <div th:unless="${product.getFotos().isEmpty()}">
            <div th:each="foto : ${product.getFotos()}">
                <img th:src="'/files/'+${foto.getURL()}" width="100px" height="100px">
            </div>
        </div>
        <a sec:authorize="hasAuthority('product:edit')" th:href="${#servletContext.getContextPath()}+'/app/foto?id='+${product.getId()}">Добавить изображения</a>
    </div>
    <div><span th:text="${product.getTitle()}"></span></div>
    <div><span th:text="${product.getDescription()}"></span></div>
    <div>Доставка: <span>Доставка бесплатно 24/7, день в день или в согласованную дату.
Время доставки – от 2 часов. Возможна срочная доставка по согласованию с менеджером.

Доставка внутри МКАД – Бесплатно
До 10км. от МКАД – 490р.
За пределами 10км. от МКАД – 50р. за км.</span></div>
    <div>Способ оплаты: <span>– Банковской картой
– Наличными
– PayPal
– Картой курьеру
– По счету для юр. лиц</span></div>
    <div>К каждому букету</div>
    <form method="post" enctype="application/x-www-form-urlencoded" th:action="${#servletContext.getContextPath()}+'/app/basket/add'" accept-charset="utf-8">
        <input type="hidden" name="id" th:value="${product.getId()}">
        <select type="text"  name="size">
            <option value="30 см">30 см</option>
            <option value="40 см">40 см</option>
            <option value="50 см">50 см</option>
            <option value="60 см">60 см</option>
        </select>
        <div><input type="text" name="amount">Выбор количества</div>
        <div><input type="text" name="note">Ваши пожелания</div>
        <div>Итоговая Цена</div>
        <button type="submit">В корзину</button>
    </form>

</div>
</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>