<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="container-fluid" th:fragment="scripts">
    <div th:replace="/product/basket.html :: basket"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="${#servletContext.getContextPath()}+'/js/bootstrap.min.js'" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

<script th:src="${#servletContext.getContextPath()}+'/js/fragment/navBar.js'"></script>
    <script th:src="${#servletContext.getContextPath()}+'/js/product/basket.js'"></script>

</div>
<div th:fragment="header">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/bootstrap.css'" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/common.css'" />
    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/font-awesome.min.css'">
    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/fragment/navBar.css'" />
    <link rel="stylesheet" th:href="${#servletContext.getContextPath()}+'/css/product/basket.css'" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Floreal</title>
</div>

