<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navBar">
    <ul>
        <li>Все клиенты</li>
        <li>
            <a th:href="${#servletContext.getContextPath()}+'/app/main?language=ru'">RU</a>
            <a th:href="${#servletContext.getContextPath()}+'/app/main?language=en'">EN</a>
        </li>
        <li  sec:authorize="!isAuthenticated()" ><a th:href="${#servletContext.getContextPath()}+'/app/registration'">Регистрация</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/contacts'">Контакты</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/category/box'">Цветы в коробке</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/category/composition'">По состваву</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/category/color'">По цвету помпозиции</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/category/occasion'">Повод</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/category/gift'">Подарки</a></li>
        <li><a th:href="${#servletContext.getContextPath()}+'/app/basket'">Корзина</a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="${#servletContext.getContextPath()}+'/app/login'">Вход в систему</a></li>
        <li sec:authorize="isAuthenticated()">Залогиненные клиенты</li>
        <li sec:authorize="isAuthenticated()"><a th:href="${#servletContext.getContextPath()}+'/app/user/orders'">Список заказов</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="${#servletContext.getContextPath()}+'/app/logout'">Выход из системы</a></li>
        <li sec:authorize="hasAuthority('product:edit')">Панель администратора</li>
        <li sec:authorize="hasAuthority('product:edit')"><a th:href="${#servletContext.getContextPath()}+'/app/archive'">Архив товаров</a></li>
        <li sec:authorize="hasAuthority('product:edit')"><a th:href="${#servletContext.getContextPath()}+'/app/users'">Список пользователей</a></li>
        <li sec:authorize="hasAuthority('product:edit')"><a th:href="${#servletContext.getContextPath()}+'/app/products'">Список товаров</a></li>
        <li sec:authorize="hasAuthority('product:edit')"><a th:href="${#servletContext.getContextPath()}+'/app/orders'">Список заказов</a></li>
        <li sec:authorize="hasAuthority('product:edit')"><a href="#">Настройки</a></li>
    </ul>
</div>