<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="container-fluid" th:fragment="productBar">
    <div class="row">
        <div class="col">
            <div class="emptyCategory" th:if="${products.isEmpty()}">Товары данной категории в настоящее время отсутствуют!</div>
        </div>
    </div>
        <div class="row">
    <div class="col-lg-4 col-md-6" th:each="product : ${products}">
        <div class="productItem">
        <div><a th:href="${#servletContext.getContextPath()}+'/app/product/'+${product.getURL()}">
            <img th:if="${product.getFotos().isEmpty()}" th:src="${#servletContext.getContextPath()}+'/img/noFoto.png'" >
            <img th:if="${!product.getFotos().isEmpty()}" th:src="'/files/'+${product.getFotos().get(0).getURL()}">
        </a>
        </div>
    <div class="nameProduct">Название: <span th:text="${product.getTitle()}"></span></div>
            <div class="costProduct">
                <snan th:if="${product.getAvailability() !=null and product.getAvailability() !=0}" >Цена: <span th:text="${product.getCost()}"></span> BYN</snan>
                <span th:if="${product.getAvailability() ==null or product.getAvailability() ==0}">Нет в наличии</span>
            </div>

    <div class="ordProduct">
        <label sec:authorize="hasAuthority('product:edit')">Статус: <span th:text="${product.getStatus()}"></span></label>
    </div>
            <a class="ordProductHref"sec:authorize="!hasAuthority('product:edit')" th:href="${#servletContext.getContextPath()}+'/app/product/'+${product.getURL()}">Заказать</a>
        <a class="adminProduct" sec:authorize="hasAuthority('product:edit')" th:href="${#servletContext.getContextPath()}+'/app/foto?id='+${product.getId()}">Добавить изображения</a>
        <a class="adminProduct" sec:authorize="hasAuthority('product:edit')" th:href="${#servletContext.getContextPath()}+'/app/edit?id='+${product.getId()}">Редактировать</a>
        <a class="adminProduct" sec:authorize="hasAuthority('product:edit')" th:href="${#servletContext.getContextPath()}+'/app/delete?id='+${product.getId()}">Удалить</a>
        </div>
    </div>
            <div class="col-lg-4 col-md-6">
                <div sec:authorize="hasAuthority('product:edit')">
                    <div class="productItem">
                        <div>
                            <img  th:src="${#servletContext.getContextPath()}+'/img/noFoto.png'" >
                        </div>
                    <a class="addProduct" th:href="${#servletContext.getContextPath()}+'/app/add/'">Добавить товар</a>
                    </div>
                </div>
            </div>
        </div>

</div>
