#topMenu {
    background-color: rgba(254, 254, 254, 0.8);
}
.menu a {
    color: #333;
    font-size: 18px;
}
.menu a:hover {
   text-decoration: none;
    color: #fefefe;
    background-color: rgba(196, 55, 211, 0.5);
    border-radius: 0 10px;
    transition: all .3s ease-in-out;
}
.menuLogo {
    display: block;
    float: left;
    width: fit-content;
    line-height: 60px;
}
.menuLogo img {
    display: block;
    float: left;

}
.menuLogo a {
    text-decoration: none;
    color: #333333;
    font-size: 32px;
    line-height: 60px;
}
.menuLogo a:hover {
   color:  #333333;
}
.buttomMenuLeft {
    display: block;
    float: left;
    margin-left: 5%;
    margin-right: auto;
}
.buttomMenuLeft a {
    display: none;
    width: 100%;
    clear: both;
    color: #333333;
    font-size: 26px;
    line-height: 60px;
    font-weight: 500;
}
.buttomMenuLeft a:hover {
    text-decoration: none;
}
.buttomMenuLeft  i {
    margin-top: 7px;
    display: none;

}
.menuLeft {
    display: block;
    line-height: 60px;
}
.menuLeft  a {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5%;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}
.menuLeft  a:hover {
    text-decoration: none;
    color: #fefefe;
    background-color: rgba(196, 55, 211, 0.5);
    border-radius: 0 10px;
    transition: all .3s ease-in-out;
}

.menuRight {
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
    line-height: 60px;


}
.menuRight a {
    text-decoration: none;
    color: #333333;
    font-size: 26px;
}
.menuRight a:hover {
    color: rgb(196, 55, 211);
}

#adminMenu {
    display: none;
    position: absolute;

    right: 0px;
    clear: both;
    z-index: 1;
}
#languegeMenu {
    display: none;
    position: absolute;
    right: 0px;
    clear: both;
    z-index: 1;
}
#signinMenu {
    display: none;
    position: absolute;
    right: 0px;
    clear: both;
    z-index: 1;
}

#linksMenu {
    display: none;
    clear: both;
}
.menu li {
    list-style-type:none;
    line-height: 40px;
    background-color: rgba(254, 254, 254, 1);
}

.menu li a:hover{
    text-decoration: none;
    color: #fefefe;
}
#userAcc {
    display: block;
    float: left;
    text-decoration: none;
    color: #fefefe;

    background-color: rgba(196, 55, 211, 0.5);
    border-radius: 0 10px;
    transition: all .3s ease-in-out;
}
#userAcc:hover {
    text-decoration: none;
}

/*вкладка удаления*/
.modalUserDelete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-contentUserDelete {
    background-color: rgba(254, 254, 254, 0.8);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}


.closeUserDelete {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    color: rgba(196, 55, 211, 0.9);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeUserDelete:hover,
.closeUserDelete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.delUserBtn {
    display: block;
    width:fit-content;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    background-color: rgba(114, 119, 132, 0.8);
    color: #fefefe;
    float: left;
    margin: 10px;
}
.delUserBtn:hover {
    color: #fefefe;
    text-decoration: none;
    background-color: darkred;
    border-radius: 0 10px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width:1160px){
    .modal-contentUserDelete {
        width: 60%;
    }
    .mainLink {
        display: none;
    }
    .buttomMenuLeft a {
        display: inline;
    }
    #linksMenu li {
        display: block;
    }
    .menuLeft {
        display: none;
    }
}
@media screen and (max-width:550px){
    .modal-contentUserDelete {
        width: 80%;
    }
    .buttomMenuLeft a {
        display: none;
    }
    .buttomMenuLeft  i {
        display: block;
        line-height: 50px;
        color: #333333;
        font-size: 26px;
    }
    .buttomMenuLeft  i:hover {
        color: rgb(196, 55, 211);
    }
}