<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <div th:replace="/fragment/links.html :: header"></div>
    <title>InstaGod</title>
</head>

<body >
<div id="body" class="container-fluid">
<div th:replace="/fragment/navBar.html :: navBar"></div>
<div th:each="user : ${users}">
    <span><span th:text="'Логин: '+${user.getLogin()}+' Email: '
    +${user.getEmail()}+' Статус: '+${user.isEnabled()}+' Роль: '+${user.getRole()}+' '"></span></span>
</div>
</div>
<div th:replace="/fragment/footer.html :: footer"></div>
<div th:replace="/fragment/links.html :: scripts"></div>
</body>
</html>